﻿@using Raoke10086.Service.Models
@using Raoke10086.Admin.Extensions
@using Raoke10086.Infrastructure.Enums
@model PageList<ProductInListDto>

@{
    ViewBag.Title = "商品库";
    PageData["PageID"] = "Product.Index";
    var AllCitySelectListItems = (ViewBag.AllCities as List<CityInListDto>);
    var CategorySelectListItems = (ViewBag.Categories as List<CategoryInListDto>);
}
@section scripts{
    <script type="text/javascript">
        /*商品删除控件*/
        $(document).on("click", '.item-actions-list .remove', function (e) {
            var control = $(this);
            bootbox.confirm({
                title: "删除提醒",
                message: "Are you sure?",
                locale: "zh_CN",
                callback: function (result) {
                    if (result) {
                        var item = control.parents('.item');
                        $.ajax({
                            url: "/api/product/" + item.data("id"),
                            method:"DELETE",
                            success:function(){
                                item.remove();
                            }
                        });
                    }
                }
            });
        });

        $(document).on("click", '.item-actions-list .listing:not(.active)', function (e) {
            var control = $(this);
            bootbox.confirm({
                title: "上架提醒",
                message: "Are you sure?",
                locale: "zh_CN",
                callback: function (result) {
                    if (result) {
                        var item = control.parents('.item');
                        $.ajax({
                            url: "/api/product/" + item.data("id") + "/listing",
                            method: "PUT",
                            success: function () {
                                control.addClass("active");
                                item.find(".delisting").removeClass("active");
                            }
                        });
                    }
                }
            });
        });

        $(document).on("click", '.item-actions-list .delisting:not(.active)', function (e) {
            var control = $(this);
            bootbox.confirm({
                title: "下架提醒",
                message: "Are you sure?",
                locale: "zh_CN",
                callback: function (result) {
                    if (result) {
                        var item = control.parents('.item');
                        $.ajax({
                            url: "/api/product/" + item.data("id") + "/delisting",
                            method: "PUT",
                            success: function () {
                                control.addClass("active");
                                item.find(".listing").removeClass("active");
                            }
                        });
                    }
                }
            });
        });
     </script>
}

<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">
                        商品库
                        <a href="@Url.Action("editor")" class="btn btn-primary btn-sm rounded-s">
                            添加商品
                        </a>

                        @*<div class="action dropdown">
                            <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                批量操作
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o icon"></i>上架</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-modal"><i class="fa fa-close icon"></i>下架</a>
                            </div>
                        </div>*@


                    </h3>
                    <p class="title-description">  </p>
                </div>
            </div>
        </div>
        <div class="items-search">
            @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    @Html.TextBox("Keywords",null,new { @class= "form-control boxed rounded-s", @placeholder="搜索商品" })
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            }
        </div>
    </div>

    @*<div>
        <div class="action dropdown">
            <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                商品分类
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                @foreach (var item in CategorySelectListItems)
                {
                    <a class="dropdown-item" href="#">@item.Name</a>
                }
            </div>
        </div>

        <div class="action dropdown">
            <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                商品分类
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                @foreach (var item in CategorySelectListItems)
                {
                    <a class="dropdown-item" href="#">@item.Name</a>
                }
            </div>
        </div>
    </div>*@



    <div class="card items">
        <ul class="item-list striped">
            <li class="item item-list-header hidden-sm-down">
                <div class="item-row">
                    <div class="item-col fixed item-col-check">
                        <label class="item-check" id="select-all-items">
                            <input type="checkbox" class="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="item-col item-col-header fixed item-col-img md">
                        <div> <span></span> </div>
                    </div>
                    <div class="item-col item-col-header item-col-title">
                        <div> <span>商品</span> </div>
                    </div>
                    <div class="item-col item-col-header item-col-sales">
                        <div> <span>库存/销售量</span> </div>
                    </div>
                    <div class="item-col item-col-header item-col-category">
                        <div class="no-overflow"> <span>分类</span> </div>
                    </div>
                    <div class="item-col item-col-header item-col-author">
                        <div class="no-overflow"> <span>售价</span> </div>
                    </div>
                    <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
                </div>
            </li>
            @foreach (var item in Model.Data)
            {
                <li class="item" data-id="@item.ID">
                    <div class="item-row">
                        <div class="item-col fixed item-col-check">
                            <label class="item-check" id="select-all-items">
                                <input type="checkbox" class="checkbox">
                                <span></span>
                            </label>
                        </div>
                        <div class="item-col fixed item-col-img md">
                            <a target="_blank" href="@("http://wx.raoke10086.com/shop/detail/" + item.ID.ToString("N"))">
                                <div class="item-img rounded" style="background-image: url(@item.Cover)"></div>
                            </a>
                        </div>
                        <div class="item-col fixed pull-left item-col-title">
                            <div class="item-heading">商品</div>
                            <div>
                                <a target="_blank" href="@("http://wx.raoke10086.com/shop/detail/" + item.ID.ToString("N"))">
                                    <h4 class="item-title">
                                        @item.Title
                                    </h4>
                                </a>
                            </div>
                        </div>
                        <div class="item-col item-col-sales">
                            <div class="item-heading">库存/销售量</div>
                            <div> @string.Format("{0}/{1}", item.Stock, item.Sold) </div>
                        </div>
                        <div class="item-col item-col-category no-overflow">
                            <div class="item-heading">分类</div>
                            <div class="no-overflow"> <a href="">@item.CategoryName</a> </div>
                        </div>
                        <div class="item-col item-col-author">
                            <div class="item-heading">售价</div>
                            <div class="no-overflow">@item.SalePrice</div>
                        </div>

                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive">
                                        <i class="fa fa-cog"></i>
                                    </span> <span class="active">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>
                                            <a class="remove"> <i class="fa fa-trash-o "></i> </a>
                                        </li>

                                        <li>
                                            <a class="edit" href="@Url.Action("Editor", new { id = item.ID })"> <i class="fa fa-pencil"></i> </a>
                                        </li>

                                        <li>
                                            <a class="listing@((item.State==ProductState.OnSale)?" active":string.Empty)"> <i class="fa fa-chevron-circle-up"></i> </a>
                                        </li>

                                        <li>
                                            <a class="delisting@((item.State==ProductState.SoldOut || item.State==ProductState.Unpublished)?" active":string.Empty)"> <i class="fa fa-chevron-circle-down"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                }
        </ul>
    </div>
    <nav class="text-xs-right">
        @Html.Pager(Model, Request.Url)
    </nav>
</article>
