﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />   
    <title>@ViewBag.title · 饶客仲记</title>
    <link rel="stylesheet" href="~/Content/css/all.css" media="all" />
    <link rel="stylesheet" href="~/Content/css/sweetalert.css" media="all" />
  
   
    @RenderSection("styles", required: false)
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @RenderBody()
    

    @* loading状态动画 *@
    <div class="card-loading loader" style="display:none">
        @*<span class="spinner-loader"></span>*@
        加载中
        <div class="loader-inner ball-beat">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    @* 滑动加载更多loading *@
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div> 

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/js/sweetalert.min.js"></script>
    <script>
     //跳转loading样式
    $(document).ready(function () {
        $('.load').click(function () {
            loadingShow();
        });
    });
    function closeNothing() {
        setTimeout(function () {
            var a = $('.nothing');
            if (a.length > 0) {
                if (a.css('display') == 'block') {
                    a.fadeOut(500, function () {
                        a.css({ "display": "none" });
                    });

                }
            }
        }, 2600);
    }
    //自动关闭
    function closeNothing2() {
        setTimeout(function () {
            var a = $(".nothing2");
            if (a.length > 0) {
                if (a.css("display") == "block") {
                    a.fadeOut(500, function () {
                        a.css({
                            "display": "none"
                        })
                    })
                }
            }
        }, 2600);
    }
    </script>
    @RenderSection("scripts", required: false) 
</body>

</html>
