﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "待收货";
}
<style>
    .dr-ul{
            padding-left: 20px;
        }
        .dr-ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 15px 100px 15px 0;
            position: relative;
            border-bottom: 1px solid #dcdcdc;
        }
        
        .dr-ul li img {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        
        .dr-li-info {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            min-width: 0;
        }
        
        .dr-li-info p {
            color: #999999;
            font-size: 13px;
            line-height: 1.2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .dr-li-info strong{
            font-weight: normal;
        }
        .dr-state{
        position: absolute;
            right: 10px;
            text-align: center;
        }
        .dr-state p{
            color: #87A290;
        }
        .dr-state button{
            padding: 5px 10px;
        }
</style>
<div class="dr-main">
    <ul class="dr-ul">
        <li>
            <img src="~/Content/image/product.jpg" alt="">
            <div class="dr-li-info">
                <p> 由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                <strong><b>46</b>元 x <em>1</em></strong>
            </div>
            <div class="dr-state">
                <p class="s-p1">已发货</p>
                <button type="button" class="btn btn-suc">确认收货</button>
            </div>
        </li>
        <li>
            <img src="~/Content/image/product.jpg" alt="">
            <div class="dr-li-info">
                <p> 由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                <strong><b>46</b>元 x <em>1</em></strong>
            </div>
            <div class="dr-state">
                <p class="s-p1">已发货</p>
                <button type="button" class="btn btn-suc">确认收货</button>
            </div>
        </li>
    </ul>
</div>