﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "个人中心";
}
<style>
       body {
            background-color: #efeeef;
        }
        
        .my-top {
            position: relative;
            padding: 5% 0 20%;
            background: #505050;
            text-align: center;
        }
        
        .my-top-user {
            width: 70px;
            height: 70px;
            display: inline-block;
        }
        
        .my-top-user img {
            max-width: 100%;
            display: block;
            height: auto;
            border-radius: 100%;
        }
        
        .my-top-name {
            color: #B8BBC0;
            font-size: 16px;
            margin: 2% 0 6%;
        }
        
        .my-t-btn a {
            text-decoration: none;
            padding: 10px 25px;
            border: 1px solid #ccc;
            margin: 0 10px;
            color: #B8BBC0;
            font-size: 16px;
            border-radius: 10px;
        }
        
        .my-t-btn a i {
            padding-right: 5px;
        }
        
        .my-pass {
            background-color: #fff;
            text-align: center;
            position: relative;
            margin: 0 5%;
            padding: 5% 0 5%;
            margin-top: -3.5rem;
            border-radius: 5px;
            box-shadow: 0 0 3px #ccc;
            border-bottom: 2px solid #BDC0C5;
        }
        
        .my-pass a {
            font-size: 2.2rem;
            color: #000;
            border-bottom: 1px solid #EFEFEF;
            margin-bottom: 5px;
            display: inline-block;
            padding: 0 45px 10px;
        }
        
        .my-order {
            background-color: #fff;
            margin-top: 10px;
        }
        
        .my-o-title {
            height: 50px;
            line-height: 50px;
            font-size: 1.6rem;
            border-bottom: 1px solid #efefef;
            margin-left: 20px;
            margin-bottom: 5px;
        }
        
        .my-o-list ul li {
            float: left;
            width: 20%;
            text-align: center;
            position: relative;
            padding-top: 5%;
        }
        
        .my-o-list ul li a p {
            font-size: 13px;
            color: #505050;
        }
        .my-o-list ul li i{
        
            color: #505050;
            font-size: 1.8rem;
        }
        .my-o-list ul li em {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            color: #fff;
            background-color: #EF4F4F;
            display: block;
            text-align: center;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 20px;
        }
        
        .center-middle {
            margin-top: 10px;
        }
        
        .center-middle ul {
            padding-left: 15px;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
        }
        
        .center-middle ul li {
            position: relative;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid #dcdcdc;
        }
        
        .center-middle ul li a {
            display: block;
            color: #505050;
            font-weight: 400;
        }
        
        .center-middle ul li a p {
            line-height: 45px;
            font-size: 15px;
        }
        
        .center-middle ul li:last-child {
            border-bottom: 0;
        }
</style>
<div class="my-top">
    <div class="my-top-user">
        <img src="~/Content/image/0.jpeg" alt="">
    </div>
    <div class="my-top-name">
        asjdaosj
    </div>
    <div class="my-t-btn">
        <a href="javascript:;"><i class="icon-credit-card"></i>我的礼卷</a>
        <a href="javascript:;"><i class="icon-heart"></i>我喜欢的</a>
    </div>
</div>
<div class="my-pass">
    <a href="">enjoy pass</a>
    <p>你还有没有可使用的消费吗</p>
</div>
<div class="my-order">
    <div class="my-o-title">
        我的订单
    </div>
    <div class="my-o-list">
        <ul class="clearfix">
            <li>
                <a href="">
                    <i class="icon-reorder"></i>
                    <em>1</em>
                    <p>充值订单</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon-briefcase"></i>
                    <em>99</em>
                    <p>代发货</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon-bar-chart"></i>
                    <p>待收货</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon-bookmark"></i>
                    <p>待反馈</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon-money"></i>
                    <p>退款</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="center-middle">
    <ul>
        <li>
            <a href="">
                <p>分享赢礼券</p>
            </a>
        </li>
        <li>
            <a href="">
                <p>分润平台</p>
            </a>
        </li>
        <li>
            <a href="">
                <p>联系我们</p>
            </a>
        </li>
    </ul>
</div>