﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "待发货";
}
<style>
           .receive-no{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-70%);
            text-align: center;
        }
        .receive-no img{
            width: 40%;
            margin-bottom: 10px;
        }
        .receive-no p
        {
            color: #8F8F98;
            font-size: 18px;
        }
</style>
<div class="receive-main">
    <div class="receive-no">
        <img src="~/Content/image/cart.png" alt="">
        <p>没有待发货的订单</p>
    </div>

</div>