﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "充值记录";
}
<style>
 body {
            background-color: #fbf9fe;
        }
        .s1{
            color: #00C702;
        }
        .s2{
            color: #e64340;
        }
        .re-list-title,
        .re-list-info {
            width: 100%;
            position: relative;
        }
        
        .re-list-title:before{
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #EDEDED;
            color: #D9D9D9;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
            left: 15px;
        }
        
        .re-list-title .re-num,
        .re-list-info .re-num {
            width: 40%;
        }
        
        .re-list-title div,
        .re-list-info div {
            float: left;
            width: 30%;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        
        .re-list {
            background-color: #fff;
            box-shadow:  0 0 3px #ededed;
            margin-bottom: 5px;
        }
        .phone-num{
            color: #6D9FB5;
        }
</style>
    <!--充值记录-->
<div class="re-main">
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s1">充值成功</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
    <div class="re-list">
        <div class="re-list-title clearfix">
            <div class="re-num">手机号码</div>
            <div class="re-price">金额</div>
            <div class="re-state">状态</div>
        </div>
        <div class="re-list-info clearfix">
            <div class="re-num phone-num">18685215245</div>
            <div class="re-price">29.97</div>
            <div class="re-state s2">充值失败</div>
        </div>
    </div>
</div>