﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "下级代理";
}
<script src="~/Scripts/js/prefixfree.js"></script>
<style>
    .list-ul li {
        position: relative;
        overflow: hidden;
        padding: 10px 5px;
        padding-left: 10px;
        border-bottom: 1px solid #eaeaea;
    }

    .user-img {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        width: 45px;
        height: 45px;
    }

    .c-li-txt strong {
        font-size: .4rem;
        color: #505050;
        margin-bottom: 5px;
        display: block;
        font-weight: normal;
    }

    .list-p-txt em {
        display: block;
        line-height: 15px;
        background: #1EACC7;
        color: #fff;
        border-radius: 3px;
        padding: 5px 5px 3px 5px;
    }

    .user-img img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        float: left;
        margin-right: 10px;
    }

    .c-li-txt {
        display: table;
        overflow: hidden;
        color: #aaa;
    }

        .c-li-txt strong {
            font-size: .4rem;
            color: #505050;
            margin-bottom: 5px;
            display: block;
        }

        .c-li-txt p {
            font-size: .32rem;
            color: #b5b5b5;
            overflow: hidden;
            margin-right: 15px;
            vertical-align: middle;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 20px;
        }

    .list-p-txt {
        position: absolute;
        top: 15px;
        right: 10px;
        display: block;
        color: #1eacc7;
        font-size: .32rem;
        text-align: right;
    }
</style>
<div class="list-content">
    <ul class="list-ul">
        <li>
            <div class="user-img">
                <img src="http://wx.qlogo.cn/mmopen/YniaciaibKpu7MrTFXXDsxKHZNTticJtYxvBcQNB5JEYDsrXC2Oia97U5FyU3euLzgt71uKU0nZM34Ee2Fa7ah9u7bn1gg3PD6Sicib/0" class="" alt="">
            </div>
            <a href="javascript:;" class="c-li-txt">
                <strong>     演员。👀</strong>
                <p>加入时间：<em>2016-04-16 07:04:34</em></p>
                <p>下级代理：<em>0位</em></p>
            </a>
            <p class="list-p-txt">累计消费 <em>￥0</em></p>
        </li>
        <li>
            <div class="user-img">
                <img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLA4jrOia0z9viaFB8B1DJ9mR3DqdjicRvgvhcR8WknnZc8AibqLMJ43XoFT8DStr8sOMaTticW8x3tM69iceDXNfDxhPubb58LY8Ng9c/0" class="" alt="">
            </div>
            <a href="javascript:;" class="load c-li-txt">
                <strong>CDTOKYO</strong>
                <p>加入时间：<em>2016-04-14 18:55:43</em></p>
                <p>下级代理：<em>0位</em></p>
            </a>
            <p class="list-p-txt">累计消费 <em>￥0</em></p>
        </li>
    </ul>
    <div class="nothing2" style="display:none">没有数据可加载</div>
</div>
