﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "生成我的海报";
}
<script src="~/Scripts/js/prefixfree.js"></script>
<style>

body,html{width:100%;height:100%}body{background:url(/Content/image/poster.jpg) no-repeat;background-size:cover;-webkit-background-size:cover;position:relative;height:100%;width:100%;animation:slidebg 30s infinite linear backwards;-webkit-animation:slidebg 30s infinite linear backwards}@@-webkit-keyframes slidebg{0%{background-position:0 0}50%{background-position:99% 0}100%{background-position:0 0}}@@keyframes slidebg{0%{background-position:0 0}50%{background-position:99% 0}100%{background-position:0 0}}.dis{position:absolute;bottom:50px;text-align:center;width:100%;padding:0 20%}.dis img{width:20%}.dis h1{color:#f4661f;font-size:.8rem;font-weight:400;margin:10px 0}.dis p{font-size:.37rem;color:#fff;margin-bottom:25px;text-shadow:0 0 2px #000}.dis a{background:#fff;width:100%;font-size:.48rem;text-decoration:none;color:#505050}.poster-logo{width:225.6px;position:absolute;top:20%;left:50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0)}.last-p{text-shadow:0 0 2px #000}
</style>
<img class="poster-logo" src="~/Content/image/poster_logo.png" alt="">
<p style="position:absolute;font-size: .37rem; text-shadow: 0 0 2px #000;padding:0 16%;text-align:center;top:50%;color:#fff;">无代理费，不囤货，无需管理操作生成您的个人海报，发给好基友获取持续收入</p>
<div class="dis">
    <a class="btn" href="@Url.Action("poster-choose")">生成我的海报</a>
    <p class="last-p" style="margin-top:10px;">创造可累加的持续收入</p>
</div>