﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "教练好健身产业链分润平台";
}

<script src="~/Scripts/plugins/prefixfree.js"></script>
<style>
    .a-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,.5);
        color: #fff;
        height: 50px;
        line-height: 50px;
        font-size: .35rem;
        text-indent: 1em;
    }
</style>

<img src="@*@Url.RouteUrl("QRImage", new { pid = ViewBag.pid })*@" width="100%" />
<!--分销 -->
<div class="a-top">
    长按下图海报,"保存图片"至手机相册，即可发送给好友
</div>