﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "转出奖励";
}
<link rel="stylesheet" href="~/Content/css/bounces.css" />
<script src="~/Scripts/js/prefixfree.js"></script>
<style>
body,html{background-color:#EBEBEB}.pro-bg{position:relative;padding:3% 0;background:#505050}.pro-content{text-align:center}.pro-content img{width:30%;margin-bottom:5px;display:block;margin:0 auto 15px}.pro-content .his{color:#fff;font-size:.4rem}.pro-content p{line-height:25px}.pro-content .mon{font-size:.48rem;color:#fff;font-weight:700}.pro-left em,.pro-right em{font-size:.48rem;color:#f35d68;display:block}.end{color:#fff;font-size:.32rem;margin-bottom:5px}.pro-ul li{position:relative;height:65px;border-top:1px solid #CECECE;background-color:#fff}.pro-ul li:last-child{border-bottom:1px solid #CECECE}.pro-u-left{position:absolute;left:20px;top:10px}.pro-left,.pro-right{width:50%;font-size:.4rem;color:#fff}.pro-left{border-right:1px solid #fff}.pro-u-right{position:absolute;right:10px;top:10px}.pro-u-left img{width:25px;vertical-align:middle;margin-right:3px;height:25px;border-radius:50%}.pro-u-left span{font-weight:700}.pro-u-left,.pro-u-left span{color:#505050;font-size:.32rem}.pro-u-time{color:#b5b5b5;font-size:.32rem}.pro-one{font-size:.48rem;color:#f35d68;text-align:right}.pro-one b{font-weight:700}.pro-u-right p em{background-color:#525252;color:#fff;border-radius:5px;padding:3px 5px;margin-right:5px}.pro-main{padding:10px 0}.bill-top-t{height:1.47rem;line-height:1.47rem;font-size:.35rem;background-color:#EBEBEB;border-radius:4px 4px 0 0}.bill-top-t a{color:#5f7dec}.bill-month em{border-radius:10px;background-color:#f35d68;color:#fff;padding:1px 5px}.b-t-p1 em{font-weight:700}.b-t-p2 em{background-color:#f35d68;color:#fff;padding:0 5px;border-radius:10px;display:block}.b-t-p2 i{font-style:normal;color:#505050;font-size:.35rem}.progress a{font-size:.35rem;color:#505050}.pro-content button{width:70%;background-color:#f35d68;font-size:.48rem;color:#fff;font-weight:700}.bill-info{padding:0 15px}.roll-mon{text-align:left;font-size:.32rem;height:50px;line-height:50px}.roll-m-info{border-bottom:1px solid #EBEBEB}.roll-m-info span{font-size:.56rem;color:#000}.roll-m-info input{width:80%;display:inline-block;border:0;background:#fff;box-shadow:none;font-size:.48rem}.roll-m-info input:focus{border:none}.bill-info p{font-size:.32rem;text-align:left;line-height:35px;height:35px;margin-bottom:10px}.bill-info p em{font-weight:700}.bill-info p a{color:#f35d68;margin-left:8px}.bill-info strong{font-weight:400;color:#b8b8b8;font-size:.35rem}.bill-info button{display:block;background:#1DBB22;width:100%;margin:15px 0;color:#fff}.bill-info button:active{background-color:#7CCD48}
</style>
<!--转出奖励-->
<div class="pro-bg">
    <div class="pro-content clearfix">
        <div class="pro-left float-left">
            <p>奖励余额<em>￥133.05</em></p>
        </div>
        <div class="pro-right float-right">
            <p>可提现金额<em>￥0.00</em></p>
        </div>
        <button class="btn" id="out" type="button" style="margin-top:15px;">转出奖励</button>
    </div>
</div>
@*<div class="pro-main">
    <ul class="pro-ul">
        <li>
            <div class="pro-u-left">
                <img src="http://wx.qlogo.cn/mmopen/YniaciaibKpu7ONCnQgR6lpH4ibmVPputIvYcFOMQNoK8e2iaMy6OoT0aKx3miaPTtDO7R117Iwzk7eKNuoxaxytDktroQvO3FvzlO/0" alt=""><span></span>
                <p class="pro-u-time">2016-05-08 11:45:39 <em>0.05</em>元</p>
            </div>
            <div class="pro-u-right">
                <h2 class="pro-one">￥<b>0.05</b></h2>
            </div>
        </li>
    </ul>
    <div class="nothing2" style="display:none">没有数据可加载</div>
</div>*@
<!--弹出层-->
<div class="bill-show">
    <h2 class="bill-top-t">到微信零钱　<a href="/market/set">真实姓名:请设置</a></h2>
    <div class="bill-info">
        <h3 class="roll-mon">转出金额</h3>
        <div class="roll-m-info">
            <span>￥</span>
            <input class="form-control" type="text">
        </div>
        <p class="m-num">可转出金额 ￥<em>0.00</em> <a href="javascript:;" id="all-out">全部转出</a></p>
        <strong>次日24点前到账</strong>
        <button class="btn" id="withdraw">确定转出</button>
    </div>
</div>
<div class="bill-mask"></div>
<script>
    $(function () {
        $("#out").on('touchstart', function () {
            $('.bill-mask').fadeIn(300);
            $('.bill-show').removeAttr("class").addClass('animated bill-show bounceInDown').fadeIn();
        });
        function hide() {
            $('.bill-mask').fadeOut(500, function () {
                $('.bill-show,.bill-show2').addClass('bounceOutUp').fadeOut();
            });
        }
        $('.bill-mask').on('touchstart', function () {
            hide();
        })
    })
</script>