﻿@using Raoke10086.Wechat.Extensions
@model Raoke10086.Wechat.ViewModels.ShopDetailViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = Model.Product.Title;
}
@section styles{
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/swiper-3.3.1.min.css" />
    <link rel="stylesheet" href="~/Content/css/pro.css">
    <style>
        body {
            background: #F1F1F5;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
}

@section scripts{
<script src="~/Scripts/js/swiper-3.3.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        buildBuyUrl(1);
        var mySwiper = new Swiper('#banner', {
            autoplay: 5000,
            visibilityFullFit: true,
            loop: true,
            pagination: '.pagination',
        });
        var tabsSwiper = new Swiper('#tabs-container', {
            autoHeight:true,
            speed: 500,
            onSlideChangeStart: function (swiper) {
                $(".top-tabs .a-active").removeClass('a-active');
                $('.top-tabs a').eq(tabsSwiper.activeIndex).addClass('a-active');
            }
        });
        $('.top-tabs a').on('touchstart mousedown', function (e) {
            e.preventDefault();
            $(".top-tabs .a-active").removeClass('a-active');
            $(this).addClass('a-active');
            tabsSwiper.slideTo($(this).index());
            window.scrollTo(0, 0);
            //var newHeight=$(tabsSwiper.slides[$(this).index()]).height()+"px";
            //tabsSwiper.slides[$(this).index()].style.height=newHeight;
        });

        $('.top-tabs a').click(function (e) {
            e.preventDefault();
        })
        $('#plus').click(function (e) {
            var number = parseInt($('#number').val());
            if (@Model.Product.Stock>number)
            {
                $('#number').val(++number);
                buildBuyUrl(number);
            }
        })

        $('#minus').click(function (e) {
            var number = parseInt($('#number').val());
            if (number > 1)
            {
                $('#number').val(--number);
            }
            buildBuyUrl(number);
            })
        }

    function buildBuyUrl(number) {
        $('#buy').attr("href", '@Url.Action("PostTrade",new { productID =Model.Product.ID})&number=' + number);
    }
</script>
}

<div class="top-tabs clearfix">
    <a href="javascript:;" class="a-active">商品</a>
    <a href="javascript:;">详情</a>
</div>
<div class="bk5"></div>
<div id="tabs-container" class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="content-slide">
                <!--banner-->
                <div id="banner">
                    <div class="swiper-wrapper">
                        @foreach (var img in Model.Product.Galleries)
                        {
                            <div class="swiper-slide">
                                <img src="@img" />
                            </div>
                        }
                    </div>
                    <div class="pagination"></div>
                </div>


                <!--pro-->
                <div class="goods-part bdr-tb">
                    <div class="basic-info bdr-b borb">
                        <div class="prod-title">
                            @Model.Product.Title
                            <a class="detailInfoClick J_ping">
                                <span class="title-text">
                                    <i class="self-shopping-icon self-shopping-changeradius">商家自营</i>
                                </span>
                            </a>
                        </div>
                        <div class="act-link">@Model.Product.NoteMessage</div>
                        <div class="prod-price prod-price-width">
                            <span class="yang-pic-price">@Model.Product.SalePrice.ToString("C") @*<i>现在购买5折</i>*@</span>
                            <span class="adress">广东深圳</span>
                        </div>
                    </div>
                </div>


                <div class="pro-spec">
                    @*<div class="spec-desc">
                        <span class="spec-msg">已选</span>
                        <div class="spec-info">
                            <em>荣耀立方</em>
                            <span>1件</span>
                        </div>
                    </div>*@

                    <div class="pro-count">
                        <span class="part-note-msg spec-msg">数量</span>
                        <div class="pro-c-wrapper">
                            <a class="quantity-decrease"><em id="minus">-</em></a>
                            <input type="tel" class="quantity" value="1" id="number">
                            <a class="quantity-increase" id="quantityPlus">
                                <em id="plus">+</em>
                            </a>
                        </div>
                    </div>
                    <div class="pro-stock">
                        <span class="part-note-msg spec-msg">库存</span>
                        <div class="spec-info">
                            <em>@Model.Product.Stock</em>
                            <span>(全网销量@(Model.Product.Sold))</span>
                        </div>
                    </div>
                    <div class="pro-stock">
                        <span class="part-note-msg spec-msg">运费</span>
                        <div class="spec-info">
                            <em>@(Model.Product.PostPrice>0?Model.Product.PostPrice.ToString("C") : "免运费")</em>
                        </div>
                    </div>

                    <div class="pro-stock">
                        <span class="part-note-msg spec-msg">送至</span>
                        <div class="spec-info">
                            <span>四川 成都市 高新区</span>
                            <i class="icon icon-map-marker icon-large"></i>
                        </div>
                        <p class="pro-stock-state">
                          
                        </p>
                    </div>

                    @if (Model.Product.Stock > 0)
                    {
                        <div class="pro-stock pro-stock-state">
                            <span class="part-note-msg spec-msg">现货</span>
                            <div class="spec-info">
                                <span>马上完成下单,@DateTime.Today.Delivery(2)</span>
                            </div>
                        </div>
                    }                 

                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="content-slide" >
                <div class="commendeatil">
                    <div class="goodseval">
                        图文详情
                    </div>
                    <div>
                        @MvcHtmlString.Create(Model.Product.Details)
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!--底部-->
<div class="bk5"></div>
<div class="shop-fix clearfix">
    <div class="shop-f-left float-left">
        <a href="tel:4000004170"><i class="icon-user"></i><em>客服</em></a>
    </div>
    <div class="shop-f-right float-right">
        <a id="buy" href="">立即购买</a>
    </div>

</div>
