﻿@using Raoke10086.Service.Models
@using Raoke10086.Wechat.Extensions
@model PageList<ProductInListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "号码";

    //变量
    var cityCode = ViewBag.CityCode;
    var citys = ViewBag.Citys as List<CityInListDto>;
}
<style>
    .floor-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-size: 0;
        }
        
        .floor-item {
            width: 100%;
            font-size: 100%;
            overflow: hidden;
        }
        
        .floor-col2 {
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
        }
        
        .floor-container img {
            width: 100%;
            height: auto;
            overflow: hidden;
        }
        
        .floor-col1 {
            width: 100%;
            overflow: hidden;
        }
        
        .bdr-r:after {
            height: 100%;
            content: '';
            width: 1px;
            border-right: 1px solid #f0f0f0;
            position: absolute;
            top: 0;
            right: -1px;
            transform: scaleX(.5);
            -webkit-transform: scaleX(.5);
            z-index: 10;
        }
        
        .m-article {
            border-top: 1px solid #f0f0f0;
        }
        
        .mall-product-title {
            width: 100%;
            margin: auto;
            height: 50px;
            line-height: 50px;
            text-indent: 1em;
            color: #333;
        }
        /*product*/
        
        .m-article li {
            position: relative;
            border-bottom: 1px dotted #e5e5e5;
            padding: 10px 0;
        }
        
        .m-article li img {
            width: 85px;
            height: 85px;
            float: left;
            margin-right: 5px;
            margin-left: 5px;
            /*margin-top: 5px;*/
            display: block;
        }
        
        .m-article li .mall-pro-txt {
            overflow: hidden;
        }
        
        .m-p-title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #666;
            line-height: 21px;
            padding-right: 10px;
            font-size: 13px;
            min-height: 45px;
        }
        
        .m-article li .f-red {
            font-size: 15px;
            font-weight: 700;
            margin-right: 5px;
        }
        
        .f-red {
            color: #f33;
        }
        
        .f-del {
            color: #a3a3a3;
            text-decoration: line-through;
        }
        
        .btn-disabled {
            position: absolute;
            right: 5px;
            bottom: 10px;
            color: #ccc;
            background-color: #e6e6e6;
            /*border-color: #adadad;*/
            padding: 3px 12px;
            z-index: 99;
        }
        
        .btn-sub {
            position: absolute;
            right: 5px;
            bottom: 10px;
            background-color: #F8525A;
            color: #fff;
            padding: 3px 12px;
            z-index: 99;
        }
        
        .m-article li a {
            width: 100%;
            display: inline-block;
        }
        
        .mall-pro-txt p em {
            border-radius: 5px;
            padding: 2px 5px;
            margin: 0 3px;
        }
        
        .em-bg1 {
            border: 1px solid #AEC1A5;
            color: #AEC1A5;
        }
        
        .em-bg2 {
            border: 1px solid #9CA1B7;
            color: #9CA1B7;
        }
        
        .mall-pro-txt p:first-child {
            color: #505050;
            line-height: 22px;
        }
/*        city*/
        .city-list{
            padding:5% 5% 0 5%;
            text-align: center;
        }
        .city-list ul li{
            width: 30%;
            display: inline-block;
            text-align: center;
            background: #fff;
            margin: 0 5px 10px 0;
            border-radius: 5px;
            padding: 5px 0;
            border: 1px solid #eee;
        }
        .city-list ul li a{
        
            color: #505050;
        }
        .city-list ul li.city-active{
            border:1px solid #F8525A;
        }
        .city-list ul li.city-active a{
            color: #F8525A;
        }
</style>
<div class="city-list">
    <ul class="clearfix">
        @foreach (var li in citys.Select(item=>
        {
            var li = new TagBuilder("li");
            li.InnerHtml = Html.ActionLink(item.Name, "Haoma", new { city = item.Code }).ToHtmlString();
            if (item.Code == cityCode)
            {
                li.AddCssClass("city-active");
            }
            return li;
        }))
        {
            @MvcHtmlString.Create(li.ToString());
        }
    </ul>
</div>
<div class="mall-product-list">
    <h3 class="mall-product-title">推荐号码</h3>
    <ul class="m-article">
        @*@foreach (var li in Model.Data.Select(item =>
    {
        var btnBuy = new TagBuilder("button");
        btnBuy.AddCssClass("btn");
        if (item.Stock > 0)
        {
            btnBuy.SetInnerText("立即购买");
            btnBuy.AddCssClass("btn-sub");
        }
        else
        {
            btnBuy.SetInnerText("已被售出");
            btnBuy.AddCssClass("btn-disabled");
            btnBuy.MergeAttribute("disabled", "disabled");
        }

        var imgCover = new TagBuilder("img");
        imgCover.Attributes["src"] = item.Cover;
        var divIntro = new TagBuilder("div");
        divIntro.AddCssClass("mall-pro-txt");

        var a = new TagBuilder("a")
        {
            InnerHtml = imgCover.ToString() + divIntro.ToString()
        };
        a.Attributes["href"] = Url.Action("Detail", new { id = item.ID });
        return new TagBuilder("li")
        {
            InnerHtml = a.ToString()+btnBuy.ToString(),
        };
    }))
    {
        @MvcHtmlString.Create(li.ToString());
    }*@
    @foreach (var item in Model.Data)
    {
        <li>
            <a href="@Url.Action("Detail", new { id = item.ID })">
                <img src="@item.Cover" alt="" />
                <div class="mall-pro-txt">
                    <p>@item.Title @Html.Tags(item.Tags)
                    </p>
                    <div class="m-p-title">@item.Introduction</div>
                    <div class="m-p-price">
                        <span class="f-red">@item.SalePrice.ToString("C")</span>
                        <span class="f-del">@item.OriginPrice.ToString("C")</span>
                    </div>
                </div>
            </a>
            @if (item.Stock > 0)
            {
                <button class="btn btn-sub">立即购买</button>
            }
            else
            {
                <button class="btn btn-disabled" disabled="disabled">已被售出</button>
            }
        </li>
      }

        <li>
        <a href="">
            <img src="~/Content/image/p1.jpg" alt="" />
            <div class="mall-pro-txt">
                <p>187716398812<em class="em-bg1">联通</em><em class="em-bg2">成都</em></p>
                <div class="m-p-title">移动4G上网卡流量卡无线路由资费套餐卡国内通用4G3G随身wifi手机上网号码流量卡流量卡</div>
                <div class="m-p-price">
                    <span class="f-red">￥128.00</span>
                    <!--                        <span class="f-del">￥309</span>-->
                </div>
            </div>
        </a>
        <button class="btn btn-sub">立即购买</button>
    </li>
    <li>
        <a href="">
            <img src="~/Content/image/p1.jpg" alt="" />
            <div class="mall-pro-txt">
                <p>187716398812<em class="em-bg1">联通</em><em class="em-bg2">成都</em></p>
                <div class="m-p-title">移动4G上网卡流量卡无线路由资号码流量卡流量卡</div>
                <div class="m-p-price">
                    <span class="f-red">￥128.00</span>
                    <!--                        <span class="f-del">￥309</span>-->
                </div>
            </div>
        </a>
        <button class="btn btn-disabled" disabled="disabled">已被售出</button>
    </li>
    </ul>
</div>
