﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "商城";
}
<link rel="stylesheet" href="~/Content/css/swiper-3.3.1.min.css" media="all" />
<style>
       #banner {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        #banner .swiper-slide {
            position: relative;
            text-align: center;
        }

        #banner img {
            max-width: 100%;
            display: block;
        }
        .pagination {
            position: absolute;
            z-index: 20;
            bottom: 10px;
            width: 100%;
            text-align: center;
            right: 0;
        }
        .pagination span{
            margin:0 2px;
        }
        .swiper-pagination-bullet-active {
            background: #f15353;
        }
        .floor-container{
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-size: 0;
        }
        .floor-item {
            width: 100%;
            font-size: 100%;
            overflow: hidden;
        }
        .floor-col2{
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
        }
        .floor-container img {
            width: 100%;
            height: auto;
            overflow: hidden;
        }
        .floor-col1{
            width: 100%;
            overflow: hidden;
        }
        .bdr-r:after{
            height: 100%;
            content: '';
            width: 1px;
            border-right: 1px solid #f0f0f0;
            position: absolute;
            top: 0;
            right: -1px;
            transform: scaleX(.5);
            -webkit-transform: scaleX(.5);
            z-index: 10;
        }
        .m-article {
            border-top: 1px solid #f0f0f0;
        }
        .mall-product-title {
            width: 100%;
            margin: auto;
            height: 50px;
            line-height: 50px;
            text-indent: 1em;
            color: #333;
        }
        /*product*/
        .m-article li{
            position: relative;
            border-bottom: 1px dotted #e5e5e5;
            padding: 10px 0;
        }
        .m-article li img {
            width: 85px;
            height: 85px;
            float: left;
            margin-right: 5px;
            /*margin-top: 5px;*/
            display: block;
        }
        .m-article li .mall-pro-txt {
            overflow: hidden;
        }
        .m-p-title{
            display: -webkit-box;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #666;
            line-height: 20px;
            padding-right: 10px;
            font-size: 13px;
            min-height: 60px;
        }
        .m-article li .f-red {
            font-size: 15px;
            font-weight: 700;
            margin-right: 5px;
        }
        .f-red {
            color: #f33;
        }
        .f-del{
            color: #a3a3a3;
            text-decoration: line-through;
        }
        .mall-sub{
            position: absolute;
            right: 5px;
            bottom:10px;
            background-color: #F8525A;
            color: #fff;
            padding: 8px 12px;
            z-index: 99;
        }
        .m-article li a {
            width: 100%;
            display: inline-block;
        }
</style>
<!--banner-->
<div id="banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="~/Content/image/banner01.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="~/Content/image/banner02.jpg" />
        </div>

    </div>
    <div class="pagination"></div>
</div>
<div class="floor-container">
    <div class="floor-item">
        <div class="floor-col2">
            <a href="">
                <img src="~/Content/image/floor1.jpg" alt="" />
            </a>
        </div>
        <div class="floor-col2">
            <div class="floor-col1">
                <a href=""><img src="~/Content/image/floor02.jpg" alt="" /></a>
            </div>
            <div class="floor-col1">
                <div class="floor-col2 bdr-r">
                    <a href=""><img src="~/Content/image/floor03.jpg" alt="" /></a>
                </div>
                <div class="floor-col2">
                    <a href=""><img src="~/Content/image/floor04.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--推荐商品-->
<div class="mall-product-list">
    <h3 class="mall-product-title">推荐商品</h3>
    <ul class="m-article">
        <li>
            <a href="">
                <img src="image/product.jpg" alt="" />
                <div class="mall-pro-txt">
                    <div class="m-p-title">移动4G上网卡流量卡无线路由资费套餐卡国内通用4G3G随身wifi手机上网号码流量卡流量卡</div>
                    <div class="m-p-price">
                        <span class="f-red">￥128.00</span>
                        <span class="f-del">￥309</span>
                    </div>
                </div>
            </a>
            <button class="btn mall-sub">立即购买</button>
        </li>
        <li>
            <a href="">
                <img src="image/product.jpg" alt="" />
                <div class="mall-pro-txt">
                    <div class="m-p-title">移动4G上网卡流量卡无线路由资号码流量卡流量卡</div>
                    <div class="m-p-price">
                        <span class="f-red">￥128.00</span>
                        <span class="f-del">￥309</span>
                    </div>
                </div>
            </a>
            <button class="btn mall-sub">立即购买</button>
        </li>
    </ul>
</div>
<script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
<script src="~/Scripts/js/swiper-3.3.1.min.js"></script>
<script>
    window.onload = function () {
        var mySwiper = new Swiper('#banner', {
            autoplay: 5000,
            visibilityFullFit: true,
            loop: true,
            pagination: '.pagination'
        });
    }
</script>