﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "充值话费";
}
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/Content/css/swiper-3.3.1.min.css" />
<link rel="stylesheet" href="~/Content/css/pro.css">
<style>
    body{
        background:#F1F1F5;
    }
</style>
<div class="top-tabs clearfix">
    <a href="javascript:;" class="a-active">商品</a>
    <a href="javascript:;">详情</a>
</div>
<div class="bk5"></div>
<div id="tabs-container" class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="content-slide">
                <!--banner-->
                <div id="banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Content/image/pro01.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Content/image/pro02.jpg" />
                        </div>

                    </div>
                    <div class="pagination"></div>
                </div>


                <!--pro-->
                <div class="goods-part bdr-tb">
                    <div class="basic-info bdr-b borb">
                        <div class="prod-title">
                            <a class="detailInfoClick J_ping">
                                <span class="title-text">
                                    华为（HUAWEI）荣耀路由 150平米户型穿墙王1167Mbps智能AC千兆无线路由器（陶瓷白）
                                    <i class="self-shopping-icon self-shopping-changeradius">商家自营</i>
                                </span>
                            </a>
                        </div>
                        <div class="act-link">【店主推荐】光钎宽带大户型适用,有线无线双千兆,上网视频，下载快得停不下来！国货精品,12万好评！</div>
                        <div class="prod-price prod-price-width">
                            <span class="yang-pic-price">￥188.00 <i>现在购买5折</i></span>
                            <!--                                <span class="adress">广东深圳</span>-->
                        </div>
                    </div>

                </div>
                <div class="pro-spec">
                    <div class="spec-desc">
                        <span class="spec-msg">已选</span>
                        <div class="spec-info">
                            <em>荣耀立方</em>
                            <span>1件</span>
                        </div>
                    </div>

                    <div class="pro-count">
                        <span class="part-note-msg spec-msg">数量</span>
                        <div class="pro-c-wrapper">
                            <a href="" class="quantity-decrease"><em id="minus">-</em></a>
                            <input type="tel" class="quantity" value="1" id="number">
                            <a class="quantity-increase" id="quantityPlus" onclick="plus()">
                                <em id="plus">+</em>
                            </a>
                        </div>
                    </div>
                    <div class="pro-stock">
                        <span class="part-note-msg spec-msg">库存</span>
                        <div class="spec-info">
                            <em>123</em>
                            <span>(月销量1752)</span>
                        </div>
                    </div>
                    <div class="pro-stock">
                        <span class="part-note-msg spec-msg">发货地</span>
                        <div class="spec-info">
                            <em>广东深圳</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="content-slide">
                <div class="commendeatil">
                    <div class="goodseval">
                        图文详情
                    </div>
                    <div class="c-good-img">
                        <img src="~/Content/image/img01.jpg" alt="">
                        <img src="~/Content/image/img02.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!--底部-->
<div class="bk5"></div>
<div class="shop-fix clearfix">
    <div class="shop-f-left float-left">
        <a href="tel://18613785750"><i class="icon-user"></i><em>客服</em></a>
    </div>
    <div class="shop-f-right float-right">
        <a href="">立即购买</a>
    </div>

</div>
<script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
<script src="~/Scripts/js/swiper-3.3.1.min.js"></script>
<script>
        window.onload = function () {

            var mySwiper = new Swiper('#banner', {
                autoplay: 5000,
                visibilityFullFit: true,
                loop: true,
                pagination: '.pagination',
            });
            var tabsSwiper = new Swiper('#tabs-container', {
                speed: 500,
                onSlideChangeStart: function () {
                    $(".top-tabs .a-active").removeClass('a-active');
                    $('.top-tabs a').eq(tabsSwiper.activeIndex).addClass('a-active')
                }
            });
            $('.top-tabs a').on('touchstart mousedown', function (e) {
                e.preventDefault();
                $(".top-tabs .a-active").removeClass('a-active');
                $(this).addClass('a-active');
                tabsSwiper.slideTo($(this).index())
            });
            $('.top-tabs a').click(function (e) {
                e.preventDefault();
            })

        }
</script>