﻿@using Raoke10086.Admin.Extensions
@using Raoke10086.Admin.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string pageID = PageData["PageID"];
}
@section styles{
   @RenderSection("styles", required: false)
}
@section scripts{
   @RenderSection("scripts", required: false)
}


<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse hidden-lg-up">
                <button class="collapse-btn" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="header-block header-block-search hidden-sm-down">
                <form role="search">
                    <div class="input-container">
                        <i class="fa fa-search"></i> <input type="search" placeholder="Search">
                        <div class="underline"></div>
                    </div>
                </form>
            </div>
         
            <div class="header-block header-block-nav">
                <ul class="nav-profile">
                    <li class="notifications new">
                        <a href="" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i> <sup>
                                <span class="counter">1</span>
                            </sup>
                        </a>
                        <div class="dropdown-menu notifications-dropdown-menu">
                            <ul class="notifications-container">
                                <li>
                                    <a href="" class="notification-item">
                                        <div class="img-col">
                                            <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>
                                        </div>
                                        <div class="body-col">
                                            <p> <span class="accent">詹南新</span> 添加了一个新商品: <span class="accent">GETIEN 专业公网商用对讲机</span>. </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            @*<footer>
                                <ul>
                                    <li>
                                        <a href="">
                                            View All
                                        </a>
                                    </li>
                                </ul>
                            </footer>*@
                        </div>
                    </li>
                    <li class="profile dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="img" style="background-image: url('@User.Identity.GetAvatar()')"> </div> <span class="name">
                                @User.Identity.GetNickName()
                            </span>
                        </a>
                        <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="#"> <i class="fa fa-user icon"></i> 个人资料 </a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-bell icon"></i> 通知 </a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i> 设置 </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Logout","Account")"> <i class="fa fa-power-off icon"></i> 退出 </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                         饶客仲记 ADMIN
                    </div>
                </div>
                @Html.Menu(new List<MenuViewModel>
           {
               new MenuViewModel
               {
                   ID="Home.Dashboard",
                   Name="概况",
                   Url=Url.Action("Dashboard","Home"),
                   Icon="fa fa-home",
               },
               new MenuViewModel
               {
                   Name="店铺",
                   Url="#",
                   Icon="fa fa-th-large",
               },
               new MenuViewModel
               {
                   Name="订单",
                   Icon="fa fa-table",
                   SubMenus=new  List<MenuViewModel>
                   {
                       new MenuViewModel
                       {
                           Name="所有订单",
                           Url="#"
                       },
                       new MenuViewModel
                       {
                           Name="加星订单",
                           Url="#"
                       },
                       new MenuViewModel
                       {
                           Name="维权订单",
                           Url="#"
                       },
                       new MenuViewModel
                       {
                           Name="评价管理",
                           Url="#"
                       },
                       new MenuViewModel
                       {
                           Name="交易设置",
                           Url="#"
                       },
                   }
               },
               new MenuViewModel
               {
                   Name="商品",
                   Url="",
                   Icon="fa fa-bar-chart",
                   SubMenus=new  List<MenuViewModel>
                   {
                       new MenuViewModel
                       {
                           ID="Product.Index",
                           Name="商品库",
                           Url=Url.Action("Index","Product")
                       },
                       new MenuViewModel
                       {
                           ID="Product.Haoma",
                           Name="号码库",
                           Url="#"
                       },
                       new MenuViewModel
                       {
                           ID="Product.Chongzhi",
                           Name="充值库",
                           Url="#"
                       }
                   }
               },
               new MenuViewModel
               {
                   Name="货架",
                   Url="#",
                   Icon="fa fa-bar-chart",
               },
               new MenuViewModel
               {
                   Name="分销",
                   Url="",
                   Icon="fa fa-desktop",
                   SubMenus=new  List<MenuViewModel>
                   {
                       new MenuViewModel
                       {
                           Name="分销商户",
                           Url="#"
                       },
                       new MenuViewModel
                       {
                           Name="提现记录",
                           Url="#"
                       },
                       new MenuViewModel
                       {
                           Name="奖励记录",
                           Url="#"
                       }
                   }
               }
           }, pageID);

                @*<nav class="menu">
                    <ul class="nav metismenu" id="sidebar-menu">
                        <li class="active">
                            <a href="index.html"> <i class="fa fa-home"></i> 概况 </a>
                        </li>

                        <li>
                            <a href=""> <i class="fa fa-th-large"></i> 店铺 </a>
                        </li>


                        <li>
                            <a href=""> <i class="fa fa-table"></i> 订单 <i class="fa arrow"></i> </a>
                            <ul>
                                <li>
                                    <a href="static-tables.html">
                                        所有订单
                                    </a>
                                </li>
                                <li>
                                    <a href="responsive-tables.html">
                                        加星订单
                                    </a>
                                </li>
                                <li>
                                    <a href="responsive-tables.html">
                                        维权订单
                                    </a>
                                </li>
                                <li>
                                    <a href="responsive-tables.html">
                                        评价管理
                                    </a>
                                </li>
                                <li>
                                    <a href="responsive-tables.html">
                                        交易设置
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href=""> <i class="fa fa-bar-chart"></i> 商品 <i class="fa arrow"></i> </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index","Product")">
                                        商品库
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Haoma","Product")">
                                        号码库
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Chongzhi","Product")">
                                        充值库
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href=""> <i class="fa fa-bar-chart"></i> 货架 </a>
                        </li>


                        <li>
                            <a href=""> <i class="fa fa-desktop"></i> 分销 <i class="fa arrow"></i> </a>
                            <ul>
                                <li>
                                    <a href="buttons.html">
                                        分销商户
                                    </a>
                                </li>
                                <li>
                                    <a href="cards.html">
                                        提现记录
                                    </a>
                                </li>
                                <li>
                                    <a href="typography.html">
                                        奖励记录
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>*@
            </div>

            <footer class="sidebar-footer">
                <ul class="nav metismenu" id="customize-menu">
                    <li>
                        <ul>
                            <li class="customize">
                                <div class="customize-item">
                                    <div class="row customize-header">
                                        <div class="col-xs-4"> </div>
                                        <div class="col-xs-4"> <label class="title">fixed</label> </div>
                                        <div class="col-xs-4"> <label class="title">static</label> </div>
                                    </div>
                                    <div class="row hidden-md-down">
                                        <div class="col-xs-4"> <label class="title">Sidebar:</label> </div>
                                        <div class="col-xs-4">
                                            <label>
                                                <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-xs-4">
                                            <label>
                                                <input class="radio" type="radio" name="sidebarPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4"> <label class="title">Header:</label> </div>
                                        <div class="col-xs-4">
                                            <label>
                                                <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-xs-4">
                                            <label>
                                                <input class="radio" type="radio" name="headerPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4"> <label class="title">Footer:</label> </div>
                                        <div class="col-xs-4">
                                            <label>
                                                <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-xs-4">
                                            <label>
                                                <input class="radio" type="radio" name="footerPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="customize-item">
                                    <ul class="customize-colors">
                                        <li> <span class="color-item color-red" data-theme="red"></span> </li>
                                        <li> <span class="color-item color-orange" data-theme="orange"></span> </li>
                                        <li> <span class="color-item color-green" data-theme="green"></span> </li>
                                        <li> <span class="color-item color-seagreen" data-theme="seagreen"></span> </li>
                                        <li> <span class="color-item color-blue active" data-theme=""></span> </li>
                                        <li> <span class="color-item color-purple" data-theme="purple"></span> </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <a href=""> <i class="fa fa-cog"></i> 设置 </a>
                    </li>
                </ul>
            </footer>
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>

        @RenderBody()
</div>
</div>